{% extends 'course/base.html' %}
{% load static %}

{% block content %}

<div class="p-3">
    <h4 class="capitalize">{{ title }}</h4>
    <p class="category-title-description">
        {{ description }}
    </p>
    {% include "course/_partials/arrow-down.html" %}
</div>



<div class="center-content">

    {% for course in courses %}


    <div class="col-12 col-md-6 col-xl-3 p-3">
        <div class="course-box lesson-box p-3">

            {% if sorted_by_category == None %}
            <div class="ribbon">
                <svg height="30" width="140">
                    <polygon class="ribbon__bends" points="0 20,10 30,20 20"
                        style="fill:currentColor;stroke:red;stroke-width:0" />
                    <polygon class="ribbon__bends" points="120 20,130 30,140 20"
                        style="fill:currentColor;stroke:red;stroke-width:0" />
                    <polygon class="ribbon__body" points="120 0,140 20,0 20, 20 0" style="fill:currentColor;" />
                </svg>
                <span class="ribbon__text">{{ course.category.name }}</b></span>
            </div>
            {% endif %}

            <div class="mb-3 w-100">
                {% if course.image %}
                <img class="course-intro-image" src="{{ course.image.url }}" alt="intro">
                {% else %}
                <img class="course-intro-image-placeholder" src="{% static 'assets/img/course-placeholder.png' %}"
                    alt="intro">
                {% endif %}
            </div>

            <div class="course-box">
                <div class="course-title mb-0">
                    <h5><strong>{{ course.title }}</strong></h5>
                </div>

                <h6 class="corsivo small-p">with {{ course.teacher }}</h6>
                <div class="nr-lessons my-2">
                    <small>{{ course.lesson_set.all|length }} lessons</small>
                </div>
                <div class="course-description my-2">
                    <p>{{ course.description }}</p>
                </div>



                <div class="container center-content py-4">
                    <div>
                        <a href="{% url 'course-detail' course.id %}" class="btn btn-primary btn-lg">
                            Take course
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {% endfor %}

</div>

{% include "course/_partials/btn-back.html" %}
{% include "course/_partials/admin_or_logout.html" %}

{% endblock %}